<html>
<head>
<title>About Myself</title>
</head>


<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>









<style type="text/css.scss">

<img src="/assets/Spare-parts.jpg" />

	
p{
	color: blacks;
}
h1{
	color: rgb(102, 102, 153)  ;
	font-weight: bolder;
	font-size: 60px;
}

</style>

<body topmargin="0" leftmargin="0" bgcolor="#FFFFFF" background="backgd/green.jpg">

<center>
<br><br>
<h1>Danish Attiq-ur-Rehman</h1>
</center>
<font size="+1">

<p>
<b>
<font face="arial" color="yellow" size="+2">H</font>ey, this is my aboutpage, so I have to say something about myself.
Sometimes it is hard to introduce yourself because you know yourself so
well that you do not know where to start with.  Let me give a try to see
what kind of image you have about me through my self-description.  I hope
that my impression about myself and your impression about me are not so
different.  Here it goes.
</b>
</p><p>
<b>
<br><br>
<img src="images\000.gif" align="left">
<font face="arial" color="red" size="+2">I</font> am a person who is positive about every aspect of life.  There are many
things I like to do, to see, and to experience.  I like to read, I like to
write; I like to think, I like to dream; I like to talk, I like to listen.
I like to see the sunrise in the morning, I like to see the moonlight at
night; I like to feel the music flowing on my face, I like to smell the
wind coming from the ocean.  I like to look at the clouds in the sky with
a blank mind, I like to do thought experiment when I cannot sleep in the
middle of the night.  I like flowers in spring, rain in summer, leaves in
autumn, and snow in winter.  I like to sleep early, I like to get up late;
I like to be alone, I like to be surrounded by people.  I like country’s
peace, I like metropolis’ noise; I like the beautiful west lake in
Hangzhou, I like the flat cornfield in Champaign.  I like delicious food
and comfortable shoes; I like good books and romantic movies.  I like
the land and the nature, I like people.  And, I like to laugh. </b>
</p><p>
<b>
<img src="images\00.gif" align="right">

</b>
</p></font><p><font size="+1">
<b>
<font face="arial" color="oranag" size="+2">T</font>his is a brief introduction of myself.  If you are interested in knowing
more, read my 
<a href="articles.html">articles</a> or take a look at my <a href="family.html">pictures</a>.  Do not expect too
much, and keep your sense of humor...............

</b>

</font>

</p></body></html> 




body{
		background-image: url("logos/new");
	}