  

<footer class="footer">

<nav class="round">
<ul>
<li><%= link_to "Home",pages_home_path %></li>
<li><%= link_to "Help","#" %></li>
<li><%= link_to "Contact","#" %></li>
<li><a href="http://www.onlinecarparts.co.uk/car-brands.html">News</a></li>
<li><a href="http://www.onlinecarparts.co.uk/car-brands.html">About</a></li>
</ul>
</nav>
</footer>  
<br>


<center> <big>
The <a href="http://www.railstutorial.org/">Implementation on "RUBY ON RAILS"(RoR) from [ATTIQ-UR-REHMAN</a>
AND <a href="http://www.michaelhartl.com/">KALSOOM MANAN]   [5th Semester]</a>
</big></center>  
<p id="p01"><center>Copyright&copy2016:All Right Reserved | Auto Mobiles |</center></p>

